@use "sass:math";

$base: 1920;

@function pxToVw($px) {
  @return ($px / $base) * 100vw;
}

.Hacking {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("./assets/img/background.png");
  user-select: none;
  overflow: hidden;

  .windowGame {
    width: pxToVw(1091);
    height: pxToVw(759);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }

    .game {
      position: absolute;
      width: pxToVw(1091);
      height: pxToVw(558);
      top: pxToVw(80);
      display: flex;
      flex-direction: column;
      gap: pxToVw(20);

      .header {
        width: pxToVw(1043);
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: pxToVw(10);

        .title {
          text-align: left;

          span {
            font-family: "Micra";
            color: rgb(20, 148, 20);
            font-size: pxToVw(20);
            font-weight: 400;
            text-transform: uppercase;
          }
        }

        
        .description {
          text-align: left;

          span {
            font-family: "Micra";
            color: rgba(20, 148, 20, 0.55);
            font-size: pxToVw(12);
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }

      .process {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: pxToVw(30);

        .buffer {
          display: flex;
          flex-direction: column;
          gap: pxToVw(8);

          span {
            color: rgb(20, 148, 20);
            font-size: pxToVw(14);
            font-weight: 400;
            font-family: "Micra";
            width: pxToVw(683);
            margin-left: auto;
          }

          .table {
            display: flex;
            align-items: center;
            justify-content: center;

            .wrapperTable {
              display: flex;
              align-items: center;
              gap: pxToVw(22);
              width: pxToVw(1027);
              gap: pxToVw(22);

              .timer {
                width: pxToVw(323);
                display: flex;
                flex-direction: column;
                gap: pxToVw(4);

                .wrapperTimer {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .title {
                    text-align: left;

                    span {
                      color: rgb(20, 148, 20);
                      font-family: "Micra";
                      font-size: pxToVw(14);
                      font-weight: 400;
                    }
                  }

                  .count {
                    padding: pxToVw(10);
                    box-sizing: border-box;
                    border: pxToVw(1) solid rgb(20, 148, 20);
                    height: pxToVw(44);
                    width: pxToVw(75);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                      color: rgb(20, 148, 20);
                      font-family: "Micra";
                      font-size: pxToVw(14);
                      font-weight: 400;
                    }
                  }
                }

                .scale {
                  width: pxToVw(323);
                  height: pxToVw(6);
                  border: 1px solid rgb(20, 148, 20);
                  position: relative;
                  display: flex;
                  align-items: center;

                  .activeScale {
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    box-shadow: 0 0 pxToVw(17) 0 rgba(20, 148, 20, 0.5);
                    background: rgb(20, 148, 20);
                    transition: width 0.1s linear;
                  }
                }
              }

              .result {
                display: flex;
                align-items: center;
                gap: pxToVw(24);
                width: pxToVw(516);
                height: pxToVw(56);

                .block {
                  padding: pxToVw(10);
                  box-sizing: border-box;
                  border: pxToVw(1) solid rgb(20, 148, 20);
                  width: auto;
                  height: pxToVw(56);
                  display: flex;
                  align-items: center;
                  gap: pxToVw(10);


                  .cellBuffer {
                    width: pxToVw(40);
                    height: pxToVw(40);
                    box-sizing: border-box;
                    box-sizing: border-box;
                    border: pxToVw(2) dashed rgba(20, 148, 20, 0.5);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: pxToVw(1);
                    position: relative;

                    .numberMatrix {
                      text-align: center;

                      span {
                        color: rgb(73, 201, 201);
                        font-family: "Micra";
                        font-size: pxToVw(14);
                        font-weight: 400;
                      }
                    }

                    .separator {
                      width: pxToVw(32);
                      height: pxToVw(3);
                      box-shadow: 0 0 pxToVw(8.2) 0 rgb(20, 148, 20);
                      background: rgb(20, 148, 20);
                      position: absolute;
                      top: pxToVw(33);
                    }

                    &.selected {
                      width: pxToVw(40);
                      height: pxToVw(40);
                      box-sizing: border-box;
                      border: pxToVw(2) solid rgb(73, 201, 201);
                      box-shadow: 0 0 pxToVw(14) 0 rgb(73, 201, 201);
                      background: rgba(73, 201, 201, 0.26);
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      gap: pxToVw(1);
                      position: relative;
                      animation: blink-animation 1s infinite;

                      @keyframes blink-animation {
                        0%, 100% { opacity: 1; }
                        50% { opacity: 0.7; }
                      }

                      .numberMatrix {
                        text-align: center;

                        span {
                          color: rgb(73, 201, 201);
                          font-family: "Micra";
                          font-size: pxToVw(14);
                          font-weight: 400;
                        }
                      }

                      .separator {
                        width: pxToVw(32);
                        height: pxToVw(3);
                        box-shadow: 0 0 pxToVw(8.2) 0 rgb(20, 148, 20);
                        background: rgb(20, 148, 20);
                        position: absolute;
                        top: pxToVw(33);
                        animation: blink-animation 1s infinite;

                        @keyframes blink-animation {
                          0%, 100% { opacity: 1; }
                          50% { opacity: 0.5; }
                        }
                      }
                    }
                  }
                }

                .description {
                  text-align: left;
                  
                  span {
                    color: rgb(20, 148, 20);
                    font-family: "Micra";
                    font-size: pxToVw(4);
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }

        .matrix {
          width: pxToVw(1027);
          display: flex;
          justify-content: space-between;

          .blockMatrix {
            width: pxToVw(323);
            height: pxToVw(327);
            display: flex;
            flex-direction: column;

            .headerMatrix {
              width: pxToVw(323);
              height: pxToVw(41);
              box-shadow: 0 0 pxToVw(45) 0 rgba(20, 148, 20, 0.5);
              background: rgb(20, 148, 20);
              clip-path: polygon(pxToVw(13) 0, 100% 0, 100% 100%, 0 100%, 0 pxToVw(13));
              padding-left: pxToVw(16);
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: pxToVw(12);

              img {
                width: pxToVw(16);
                height: pxToVw(16);
              }

              span {
                color: rgb(10, 70, 10);
                font-family: "Micra";
                font-size: pxToVw(14);
                font-weight: 400;
              }
            }

            .bodyMatrix {
              width: pxToVw(323);
              height: pxToVw(286);
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgb(2, 20, 2);
              border: pxToVw(1) solid rgb(20, 148, 20);
              border-top: none;
              box-sizing: border-box;

              .gridMatrix {
                height: 90%;
                aspect-ratio: 1/1;
                display: grid;
                align-content: center;
                justify-content: center;

                .cellMatrix {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  &.disabled {
                    pointer-events: none;
                  }

                  &.active-row,
                  &.active-col {
                    background-color: rgba(255, 255, 255, 0.05);
                  }
            
                  &.hovered {
                    background-color: rgba(20, 148, 20, 0.25);
                  }

                  span {
                    color: rgb(20, 148, 20);
                    font-family: "Micra";
                    font-size: pxToVw(15);
                    font-weight: 400;
                  }

                  &:hover {

                    .externalLayerCellMatrix {
                      height: 90%;
                      aspect-ratio: 1 / 1;
                      box-sizing: border-box;
                      border: pxToVw(2) solid rgb(73, 201, 201);
                      box-shadow: 0 0 pxToVw(11) 0 rgb(64, 183, 183);
                      background: rgba(73, 201, 201, 0.21);
                      display: flex;
                      align-items: center;
                      justify-content: center;

                      .internalLayerCellMatrix {
                        height: 90%;
                        aspect-ratio: 1 / 1;
                        box-sizing: border-box;
                        border: pxToVw(1) solid rgb(73, 201, 201);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                          color: rgb(73, 201, 201);
                          font-family: "Micra";
                          font-size: pxToVw(15);
                          font-weight: 400;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .consistency {
            width: pxToVw(690);
            height: pxToVw(327);
            display: flex;
            flex-direction: column;

            .title {
              width: 100%;
              height: pxToVw(42);
              box-sizing: border-box;
              border: pxToVw(1) solid rgb(20, 148, 20);
              display: flex;
              align-items: center;
              justify-content: center;

              .wrapper {
                width: pxToVw(659);
                display: flex;
                align-items: center;
                gap: pxToVw(10);

                img {
                  width: pxToVw(21);
                  height: pxToVw(21);
                }

                span {
                  color: rgb(20, 148, 20);
                  font-family: "Micra";
                  font-weight: 400;
                  font-size: pxToVw(14);
                }
              }
            }

            .info {
              width: 100%;
              height: pxToVw(285);
              box-sizing: border-box;
              border: pxToVw(1) solid rgb(20, 148, 20);
              border-top: none;
              background: rgb(2, 20, 2);
              display: flex;
              display: flex;
              flex-direction: column;

              .cellInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: pxToVw(14);
                height: pxToVw(76);
                box-sizing: border-box;
                padding: 0 pxToVw(12);

                &.win {
                  background-color: #49C9C9;

                  .sequenceOptions {
                    width: pxToVw(400);
                    height: 100%;
                  }

                  .cellAward {

                    .description {

                      .nameAward {

                        span {
                          color: rgb(19, 50, 50);
                        }
                      }

                      .outline {

                        span {
                          color: rgb(19, 50, 50);
                        }
                      }
                    }
                  }
                }

                &.lose {
                  background-color: #C94949;

                  .sequenceOptions {
                    width: pxToVw(400);
                    height: 100%;
                  }

                  .cellAward {

                    .description {

                      .nameAward {

                        span {
                          color: rgb(19, 50, 50);
                        }
                      }

                      .outline {

                        span {
                          color: rgb(19, 50, 50);
                        }
                      }
                    }
                  }
                }

                .sequenceOptions {
                  width: pxToVw(400);
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;

                  .cellSequenceOptions {
                    height: 100%;
                    width: pxToVw(38);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;

                    span{
                      color: rgb(255, 255, 255);
                      font-family: "Micra";
                      font-size: pxToVw(12);
                      font-weight: 400;
                    }

                    &.actual{
                      background-color: rgba(255, 255, 255, 0.05);
                    }

                    &.used{

                      span{
                        color: rgb(73, 201, 201);
                        font-family: "Micra";
                        font-size: pxToVw(12);
                        font-weight: 400;
                      }
                    }

                    &.choosed{

                      .externalLayerCellSequenceOptions{
                        height: pxToVw(35);
                        aspect-ratio: 1/1;
                        box-sizing: border-box;
                        border: pxToVw(0.6) solid rgb(73, 201, 201);
                        box-shadow: 0 0 pxToVw(11) 0 rgb(64, 183, 183);
                        background: rgba(73, 201, 201, 0.21);
                        display: flex;
                        align-items: center;
                        justify-content: center;
  
                        .internalLayerCellSequenceOptions{
                          height: pxToVw(30);
                          aspect-ratio: 1/1;
                          box-sizing: border-box;
                          border: pxToVw(0.2) solid rgb(73, 201, 201);
                          display: flex;
                          align-items: center;
                          justify-content: center;
  
                          span{
                            color: rgb(73, 201, 201);
                            font-family: "Micra";
                            font-size: pxToVw(12);
                            font-weight: 400;
                          }
                        }
                      }
                    }

                    &.soar{

                      .externalLayerCellSequenceOptions{
                        height: pxToVw(35);
                        aspect-ratio: 1/1;
                        box-sizing: border-box;
                        border: pxToVw(0.6) solid rgb(73, 201, 201);
                        box-shadow: 0 0 pxToVw(11) 0 rgb(64, 183, 183);
                        background: rgba(73, 201, 201, 0.21);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        animation: blink-animation 1s infinite;

                        @keyframes blink-animation {
                          0%, 100% { opacity: 1; }
                          50% { opacity: 0.7; }
                        }
  
                        .internalLayerCellSequenceOptions{
                          height: pxToVw(30);
                          aspect-ratio: 1/1;
                          box-sizing: border-box;
                          border: pxToVw(0.2) solid rgb(73, 201, 201);
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          animation: blink-animation 1s infinite;

                          @keyframes blink-animation {
                            0%, 100% { opacity: 1; }
                            50% { opacity: 0.7; }
                          }
  
                          span{
                            color: rgb(73, 201, 201);
                            font-family: "Micra";
                            font-size: pxToVw(12);
                            font-weight: 400;
                          }
                        }
                      }
                    }
                  }
                }

                .message {
                  width: pxToVw(400);
                  height: pxToVw(45);
                  display: flex;
                  align-items: center;
                  padding-left: pxToVw(40);

                  .winMessage, .loseMessage {
                    height: pxToVw(44);
                    width: auto;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: pxToVw(10);

                    img {
                      height: pxToVw(24);
                      aspect-ratio: 1/1;
                    }

                    span {
                      color: rgb(19, 50, 50);
                      font-family: "Micra";
                      font-size: pxToVw(15);
                      font-weight: 400;
                    }
                  }
                }

                .cellAward {
                  width: pxToVw(260);
                  height: pxToVw(45);
                  display: flex;
                  align-items: center;
                  gap: pxToVw(5);

                  .icon {
                    width: pxToVw(28);
                    height: pxToVw(28);

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  .description {
                    display: flex;
                    flex-direction: column;
                    gap: pxToVw(6);
                    width: pxToVw(237);

                    .nameAward {
                      height: pxToVw(10);
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;

                      span {
                        color: rgb(255, 255, 255);
                        font-family: "Micra";
                        font-size: pxToVw(13);
                        font-weight: 400;
                        text-transform: uppercase;
                      }
                    }

                    .outline {
                      height: pxToVw(30);
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;

                      span {
                        color: rgb(20, 148, 20);
                        font-family: "Micra";
                        font-size: pxToVw(10);
                        font-weight: 400;
                        text-transform: uppercase;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}